<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallo Welt</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('shopping_list_plugin', path='/js/index.js') }}" type="module"></script>
</head>
<body>
<nav data-nav-loggedIn class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20" hidden>
    <div class="row pl-3">
        <a class="btn btn-primary text-white mr-sm-2" href="/">Startseite</a>
        <a class="btn btn-danger text-white mr-sm-2" href="/logout">Ausloggen</a>
        <a class="btn btn-secondary text-white mr-sm-2" href="/account">Einstellungen</a>
        <div>
            <p class="text-white text-justify m-2 mr-4">Eingeloggt als:
                <b class="text-white" data-me></b>
            </p>
        </div>
    </div>
    <!-- Kalender und Adressbuch -->
    <div data-link-container>
        <a class="btn btn-info mr-sm-2" href="/todo">ToDo-Liste</a>
        <a class="btn btn-success text-white mr-sm-2" href="/calendar">Kalender</a>
        <a class="btn btn-warning mr-sm-2" href="/contact">Adressbuch</a>
        <a class="btn btn-info mr-sm-2" href="/plugin/shopping_list_plugin/unit">Einheiten</a>
        <a class="btn btn-success mr-sm-2" href="/plugin/shopping_list_plugin/product">Produkte</a>
        <a class="btn btn-warning mr-sm-2" href="/plugin/shopping_list_plugin/list">Einkaufslisten</a>
    </div>
</nav>
<nav data-nav-loggedOut class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20" hidden>
    <div class="row pl-3">
        <a class="btn btn-primary text-white mr-sm-2" href="/">Startseite</a>
        <a class="loggedIn btn btn-light mr-sm-2" href="/login">Login</a>
        <a class="loggedIn btn btn-light mr-sm-2" href="/register">Register</a>
    </div>
</nav>
<h1>Hallo Einkauflisten Plugin!!!</h1>
</body>
</html>