<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('shopping_list_plugin', path='/js/product.js') }}" type="module"></script>
</head>
<body>
<nav data-plugin-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>
<form data-create-Product-form action="" method="post">
    <label for="createProductName">Product Name</label><input data-create-product-name type="text"
                                                              id="createProductName" required>
    <label for="createProductURL">Product Picture URL</label><input data-create-product-url type="text"
                                                                    id="createProductURL">
    <label for="createProductSelect">Select Product Unit</label>
    <select data-form-select id="createProductSelect">
    </select>
    <input type="submit" value="Create Product">
</form>
<div data-product-container></div>
</body>
</html>