<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('shopping_list_plugin', path='/js/shopping_list.js') }}" type="module"></script>
</head>
<body>
<nav data-plugin-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>
<form data-create-list-form action="" method="post">
    <label for="createListName">List Name</label><input data-create-list-name type="text"
                                                              id="createListName" required>
    <input type="submit" value="Create List">
</form>
<div data-list-container></div>
</body>
</html>