<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einkaufslisten</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('shopping_list_plugin', path='/js/shopping_list.js') }}" type="module"></script>
</head>
<body>
<nav data-plugin-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>
<div class="container mt-5">
    <div class="row pt-5">
        <h1>Einkaufslisten</h1>
    </div>
    <div>
        <div data-alert hidden="" class="alert alert-danger p-1"></div>
        <hr>
        <button class="btn btn-success mr-sm-2" type="button" data-toggle="modal"
                data-target="#createModal">Neue Einkaufsliste erstellen
        </button>
        <hr>
        <div id="createModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <form data-create-list-form action="" method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Neue Einkaufsliste erstellen</h4>
                            <button data-modal-create-btn-close type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <label for="editListName"></label>
                            <input data-create-list-name type="text" id="editListName"
                                   placeholder="Einkaufslisten Name" required>
                            <button type="submit" class="btn btn-primary mr-sm-2">Einkaufsliste erstellen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div data-list-container></div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form data-form-edit id="editProduct">
                <div class="modal-header">
                    <h4 class="modal-title">Produkt editieren</h4>
                    <button data-modal-edit-btn-close type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label for="editListName"></label>
                    <input data-edit-list-name type="text" id="editListName" placeholder="Einkaufslisten Name"
                           required>
                </div>
                <div class="modal-footer justify-content-end">
                    <button class="btn btn-success mt-1 text-white"
                            type="submit">Änderungen speichern
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>