<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einheiten</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('shopping_list_plugin', path='/js/unit.js') }}" type="module"></script>
</head>
<body>
<nav data-plugin-navbar class="navbar navbar-dark bg-dark container-fluid pl-20 pr-20"></nav>
<div class="container mt-5">
    <div class="row pt-5">
        <h1>Einheiten</h1>
    </div>
    <div>
        <div data-alert hidden="" class="alert alert-danger p-1"></div>
        <hr>
        <button data-create-unit-form class="btn btn-success mr-sm-2" type="button" data-toggle="modal"
                data-target="#createModal">Neue Einheit hinzufügen
        </button>
        <hr>
        <div id="createModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <form data-form action="" method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Neue Einheit hinzufügen</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <label for="createUnitText"></label>
                            <input data-create-unit-text type="text" id="createUnitText" required>
                            <button type="submit" class="btn btn-success mr-sm-2"> Einheit hinzufügen </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Einheit</th>
            </tr>
            </thead>
            <tbody data-table>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>